@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/login-form-18/css/style.css">
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">					
					<h3 class="text-center mb-4">Enter your email.</h3>
					<form id="account" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger login-form" role="alert"></div>
						<div class="form-group">
							<input asp-for="Input.Email" class="form-control rounded-left" aria-required="true" placeholder="Email" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>						
						<div class="form-group">
							<button id="login-submit" href="/Home/Index" type="submit" class="btn btn-primary rounded submit p-3 px-5">Reset Password</button>
						</div>
						@* <div>
						<p>
						<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
						</p>
						</div> *@
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
