<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("~/Views/Shared/_HeaderIndex.cshtml")
</head>
<body id="page-top">	
	<div id="wrapper">
		@await Html.PartialAsync("~/Views/Shared/_SidebarPartial.cshtml")
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				@await Html.PartialAsync("~/Views/Shared/_TopbarPartial.cshtml")
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - UserInterface - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
