@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUser> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Admin");
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css" rel="stylesheet">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
        <div class="sidebar-brand-icon">
            <i class="bi bi-building"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Health Structure Monitor</div>
    </a>
    <div class="mt-4"></div>
    <!-- Nav Item - Add Building -->
    <li class="nav-item">
        @if (isAdmin)
        {
            <a class="nav-link" href="/Building/AddBuilding">
                <i class="bi bi-plus-circle"></i>
                <span>Add Building</span>
            </a>
        }
        else
        {
            <span class="nav-link" title="You don't have authority" style="cursor: not-allowed;">
                <i class="bi bi-plus-circle"></i>
                <span>Add Building</span>
            </span>
        }
    </li>

    <!-- Nav Item - Requested Reports -->
    <li class="nav-item">
        <a class="nav-link" href="/Report/ListReports">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>Requested Reports</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" onsubmit="return confirm('Are you sure you want to logout?');">
            <button type="submit" class="nav-link bg-gradient-primary border-0" style="width: 100%; text-align: left;">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Logout</span>
            </button>
        </form>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
