@{
}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!--A caution for anomalous-->
     <div class="container mt-5">
            <div id="alert" class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-circle-fill"></i>
            <span>Building oscillation limit values ​​exceeded!</span>
        </div>                 
     </div>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">        
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">1</span>
            </a>            
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="/Report/ListReports">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">@DateTime.Now</div>                                                                       
                        <span class="font-weight-bold">A new report is ready to see!</span>                                                                                                                                             
                    </div>
                </a>                            
            </div>
        </li>     
        <div class="topbar-divider d-none d-sm-block"></div>            

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity?.Name</span>
            </a            
        </li>
    </ul>
</nav>

  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('#alert').fadeOut('slow');
        }, 5000); // 5000 milliseconds = 5 seconds
    });
</script>
