@using EntityLayer.Concrete
@model List<RequestedReport>
@{
	ViewData["Title"] = "List Reports";
}

<head>
	@await Html.PartialAsync("~/Views/Shared/_HeaderIndex.cshtml")
	<!-- Custom styles for this page -->
	<link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<div class="col-md-4">
	<h3>Requested Reports</h3>
</div>


<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<tr>
				<th>#</th>
				<th>Date Range</th>
				<th>Report Type</th>
				<th>Status</th>
				<th>Report</th>
			</tr>
			@if (Model == null || !Model.Any())
			{
				<tr>
					<td>No report has been requested yet</td>
				</tr>
			}
			else{
				@foreach (var i in Model)
				{
					<tr>
						<td>@i.DateRange</td>
						<td>@i.ReportType</td>
						<td>@i.Status</td>
						<td>
							@if (i.Status == "Completed")
							{
								<a href="@i.ReportUrl" class="btn btn-primary">Show Report</a>
							}
						</td>
					</tr>
				}
			}					
		</table>
	</div>
</div>
